.social-icons {
    display:flex;
    justify-content:center;
}

#MainContent {
    min-height:80vh;
}

.categories {
    margin-top:20px;
}
 
.categoriesTwo {
    margin-top:20px;
}

.categories li {
    display:inline-block;
    width:auto !important;
    margin-right:5px;
    margin-bottom:5px;
}

.categories li a {
    color:white;
}

/* .categories li:not(:first-of-type){
    margin-left:20px;
} */

.borderBottomGray {
    border-bottom:1px solid #d9d9d9;
    padding:0px 0px 20px 0px;
}

.paddingTop20 {
    padding-top:20px;
}

#dropdown1 li a{
    color:#608a42;
}

.popularCategories {
    margin-top:auto;
}

.marginLeft10 {
    margin-left:10px;
}

.btn {
    background-color:#75a951;
}

.btn:hover {
    background-color: #608a42;
}

.btn:focus {
    background-color: #608a42;
}

.card-content h5 {
    margin-bottom:30px;
}

.btn-small a {
    color:white !important;
}

.dropdown-content {
    background-color:white;
    color:#608a42;
}

.gallery-header .title {
    margin-bottom:10px;
}

.gallery-header {
    border-top:1px solid rgb(96, 138, 66, 0.1);
}

.gallery-item .gallery-curve-wrapper {
    transition:.2s ease-in-out;
}

.gallery-item .gallery-curve-wrapper:hover {
    box-shadow:0px 0px 24px 6px #c9c5c5;
}

.greenIcon {
    color:#75a951;
    opacity:.95;
}

.marginTop20 {
    margin-top:10px;
}

.add-btn-product {
    margin-bottom:10px;
    margin-top: 20px;
}

.hidden-element {
    display: none;
}

.marginRight8 {
    margin-right:8px;
}

.marginRight15 {
    margin-right:15px;
}

h6 {
    color:#737373;
}

.footer-copyright {
    background-color:#75a951 !important;
}

#clearBtn {
    float:right;
}

.brand-logo i {
    display:flex;
    align-items:center;
}

@font-face {
    font-family: 'icomoon';
    src:  url('/assets/fonts/icomoon.eot?ap1ca4');
    src:  url('/assets/fonts/icomoon.eot?ap1ca4#iefix') format('embedded-opentype'),
      url('/assets/fonts/icomoon.ttf?ap1ca4') format('truetype'),
      url('/assets/fonts/icomoon.woff?ap1ca4') format('woff'),
      url('/assets/fonts/icomoon.svg?ap1ca4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-d61c3476-ff51-11e7-80f0-4cc75714848a:before {
    content: "\e900";
  }

  .add-btn-product:hover {
    background-color: #608a42;
 }
 .add-btn-product:focus {
    background-color: #75a951;
 }

.second-button:focus {
    background-color: #E53935;
}
.second-button {
    background-color: #E53935;
}
.second-button:hover {
    background-color: #C62828;
}

#tabIcon {
    color:#75a951 !important;
}